@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    color: black;
    background-color: white;
    font-family: Fira Sans;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
a {
    text-decoration: none;
    color: black;
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    opacity: 0;
}
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 40px;
}

nav {
    background-color: rgb(253, 252, 252);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    position: fixed;
    z-index: 100;
    border-radius: 0 0 200px 200px;
    transition: 0.2s ease;
}
nav:hover {
    transform: scale(1.05);
}
nav > #header {
    font-size: 30px;
    align-items: center;
}
nav > #header > .tab {
    margin: 15px;
    cursor: pointer;
    height: 3rem;
    width: 9rem;
    position: relative;
}
.tab::before, .tab::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: 3px solid black;
    transition: 0.5s ease;
}
.tab::before {
    left: -10px;
    top: -10px;
    border-width: 3px 0 0 3px;
}
.tab::after {
    right: -10px;
    bottom: -10px;
    border-width: 0 3px 3px 0;
}
.tab:hover::before, .tab:hover::after {
    width: calc(100% + 17px);
    height: calc(100% + 17px);
}

hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 1000px;
}
hero > #name {
    font-size: 60px;
    margin-top: 20px;
}
hero > #desc > div {
    margin: 5px;
}
hero > div {
    display: flex;
    flex-direction: row;
}
hero > #name > .animate__animated {
    margin: 10px;
}
hero > #name > .animate__animated:hover {
    color: red;
}
hero > a {
    font-size: 20px;
    margin: 10px 10px 0 10px;
    color: blue;
    position: relative;
    transition: 0.9s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}
hero > a::after {
    content: '';
    border-bottom: 3px solid;
    color: blue;
    position: absolute;
    width: 6%;
    height: 30px;
    transition: 0.9s ease;
}
hero > a:hover::after {
    width: calc(80%);
}

holder > .portion {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
    border-bottom: 3px solid black;
}
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
taker {
    margin: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    transition: 0.15s ease;
}
cardc {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    max-width: 270px;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.15) 0 5px 15px;
    overflow: hidden;
    font-size: 20px;
    min-height: 50px;
    cursor: default;
    transition: 0.15s ease;
}
cardb {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 450px;
    min-width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.15) 0 5px 15px;
    overflow: hidden;
    font-size: 20px;
    transition: 0.15s ease;
}
carda {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 400px;
    min-width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.15) 0 5px 15px;
    overflow: hidden;
    font-size: 20px;
    transition: 0.15s ease;
}
.card {
    margin: 5px;
}
.card:hover {
    transform: scale(1.05) rotate(1.5deg);
}
.cardcontent {
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 50px;
}
.img {
    width: 200px;
    height: 200px;
    display: flex;
    align-self: center;
    justify-self: center;
}
.icon {
    font-size: 70px;
    display: flex;
    align-self: center;
    justify-self: center;
}
.credits {
    font-size: 12px;
}
.subtitle {
    font-size: 15px;
    color: grey;
}
.title {
    font-weight: 700;
}

holder {
    background-color: rgb(233, 231, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
}
holder#exp > p {
    text-align: center;
    width: 60%;
}
.even {
    background-color: white;
}

divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 50px;
    width: 100%;
}
.divide {
    width: 50%;
    display: flex;
    justify-content: center;
}
divider > img {
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.15) 0 5px 15px;
    width: 100px;
}
divider > div {
    display: flex;
    text-align: left;
    margin: 50px;
    flex-direction: column;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-size: 20px;
    transition: 0.5s ease;
}
footer:hover {
    transform: translateY(-10px) scale(1.1);
}
.space {
    margin: 0 100px;
}
.goto {
    color: white;
    border-radius: 100%;
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
}
.goto:hover {
    transition: 1.3s ease;
    background-color: white;
    color: black;
}

