@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    color: black;
    background-color: white;
    font-family: Fira Sans;
}
a {
    text-decoration: none;
    color: black;
}

nav {
    background-color: rgb(253, 252, 252);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
nav > #header {
    font-size: 30px;
    justify-content: space-between;
    align-items: center;
}
nav > #header > .tab {
    margin: 20px;
    cursor: pointer;
}

hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
}
hero > #name {
    font-size: 60px;
    margin-top: 20px;
}
hero > #desc > div {
    margin: 5px;
}
hero > div {
    display: flex;
    flex-direction: row;
}
hero > #name > .animate__animated {
    margin: 10px;
}

holder {
    display: flex;
    flex-direction: column;
}
holder > .portion {
    font-size: 30px;
    font-weight: 700;
}
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
}
cardc {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    max-width: 270px;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.15) 0 5px 15px;
    overflow: hidden;
    font-size: 20px;
    margin: 10px;
    min-height: 50px;
}
carda {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 400x;
    min-width: 400x;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.15) 0 5px 15px;
    overflow: hidden;
    font-size: 20px;
    margin: 10px;
    min-height: 50px;
}
.card:hover {
    transform: scale(1.05) rotate(1.5deg);;
}
.cardcontent {
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 50px;
}
.img {
    width: 200px;
    height: 200px;
    display: flex;
    align-self: center;
    justify-self: center;
}
.icon {
    font-size: 100px;
    display: flex;
    align-self: center;
    justify-self: center;
}
.credits {
    font-size: 12px;
}
.subtitle {
    font-size: 15px;
    color: grey;
}
.title {
    font-weight: 700;
}

holder {
    background-color: rgb(233, 231, 231);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}
#experiences {
    background-color: white;
}

